.collection-hero .breadcrumb {
  margin-top: 0;
  z-index: 2;
}
.collection-hero__wrapper--overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.6rem 0;
  
}
@media screen and (min-width: 1200px) {
  .collection-hero__wrapper--overlay {
    padding: 1.6rem 0;
  }
}

.collection-hero__wrapper--overlay .collection-hero__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.collection-hero__wrapper--overlay .collection-hero__inner {
  padding: 3.2rem 0;
  margin-top: 0;
  margin-bottom: 0;
}
.collection-hero__wrapper--overlay .collection-hero__text-wrapper {
  position: relative;
  z-index: 1;
}
.collection-hero__wrapper--overlay .collection-hero__title {
  margin-top: 0;
}
.collection-hero__wrapper--overlay .collection-hero__image-wrapper {
  position: absolute;
  inset: 0;
}
.collection-hero__wrapper--overlay .collection-hero__image-container {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin-top: 0;
}
.collection-hero__wrapper--column .collection-hero__image-wrapper {
  margin-top: 3.2rem;
}
.collection-hero--light .breadcrumb a, .collection-hero--light .breadcrumb span {
  color: rgb(var(--color-light-text), 0.55);
}
.collection-hero--light .breadcrumb .breadcrumb__delimiter {
  color: rgb(var(--color-light-text), 0.55);
}
.collection-hero--light .breadcrumb a:hover {
  color: rgb(var(--color-foreground-secondary));
}
.collection-hero--light .collection-hero__title,
.collection-hero--light .collection-hero__description {
  color: rgb(var(--color-light-text));
}
.collection-hero--dark .breadcrumb a, .collection-hero--dark .breadcrumb span {
  color: rgb(var(--color-foreground-secondary));
}
.collection-hero--dark .breadcrumb .breadcrumb__delimiter {
  color: rgb(var(--color-foreground-secondary));
}
.collection-hero--dark .breadcrumb a {
  text-decoration-color: inherit;
}
.collection-hero--dark .breadcrumb a:hover {
  color: rgb(var(--color-button));
}
.collection-hero--dark .collection-hero__title {
  color: rgb(var(--color-title-text));
}
.collection-hero--dark .collection-hero__description {
  color: rgb(var(--color-foreground-secondary));
}

.collection-hero__inner {
  display: flex;
  flex-direction: column;
}
.collection-hero__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.collection-hero .wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero .wrapper {
    width: 70%;
  }
}

@media screen and (min-width: 900px) {
  .collection-hero .wrapper {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .collection-hero .wrapper {
    width: 35%;
  }
}

.collection-hero__title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  margin-top: 3.2rem;
  text-transform: uppercase;
}
.collection-hero__description {
  width: 100%;
  font-size: 14px;
  color: rgb(var(--color-foreground-secondary));
}
.collection-hero__description.rte img, .collection-hero__description.rte blockquote {
  max-width: 100%;
}
.collection-hero__description.rte *:first-child {
  margin-top: 0;
}
.collection-hero__description.rte *:last-child {
  margin-bottom: 0;
}
.collection-hero__description.rte *:not(a) {
  color: inherit;
}
.collection-hero__image-wrapper {
  position: relative;
  overflow: visible;
}
@media screen and (min-width: 750px) {
  .collection-hero__image-wrapper_bottom {
    padding-bottom: 6.1rem;
  }
}
.collection-hero__image-container {
  align-self: stretch;
  min-height: 38.4rem;
}

