.list-social {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  gap: 0.1rem;
  width: auto;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 990px) {
  .list-social {
    justify-content: flex-end;
  }
}
.list-social__item .icon {
  height: 2.4rem;
  width: 2.4rem;
  color: rgba(var(--color-social));
  transition: var(--duration-default);
}

.footer__blocks-container {
  justify-content: flex-end;
}

.list-social__item:hover .icon {
  color: rgba(var(--color-social), 0.6);
}

.list-social__link {
  align-items: center;
  display: flex;
  padding: 0.6rem;
}